
---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'

const pageTitle = 'Yabuk Blog'
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about stuff.</p>
    <ul>
      {allPosts.map((post: any) => 
      <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate}/>
      )}
    </ul>
</BaseLayout>
