---
import Social from "./Social.astro"

---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Copyright (c) 2025 Yabuk. All Rights Reserved.</p>
  <Social platform="instagram" username="yabuk.tv" /> 
  <Social platform="twitch" platformUrl="twitch.tv" username="yabuk" /> 
  <Social platform="threads" username="yabuk.tv" /> 
</footer>
